<div id="landing-page">
    
    <!-- Navigation bar: -->
    <div id="nav-bar">
        <div id="nav-bar-content">
            <div id="nav-bar-left">
                <div id="nav-bar-items" style="font-size: 1.5em;" (click)="onBlogWebClick()">BlogWeb</div>
            </div>
    
            <div id="nav-bar-right">
                <div id="nav-bar-items" (click)="onLoginClick()" >Login</div>
            </div>
        </div>
    </div>
    <!-- end: -->

    <!-- Landing page -->
    <div id="home-page-landing">
        <div id="landing-left">
            <div id="landing-left-content">
                <h1>BlogWeb</h1>
                <p>
                    Code, connect, and conquer - join our website for programming enthusiasts today!
                </p>
                <button (click)="onGetStartedClick()">Get Started</button>
            </div>
        </div>
    </div>
    <!-- End -->
</div>
