* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Poppins', sans-serif; */
}

.error-message {
	color: rgb(var(--color-error-500));
	font-size: 14px;
	margin-top: 5px;
}

h2 {
	font-size: 20px;
	font-weight: 500;
	position: relative;
}

h2 a {
	color: rgb(var(--color-primary-500));
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: linear-gradient(135deg, rgb(var(--color-surface-600)), rgb(var(--color-surface-800)));
}

.container {
	max-width: 700px;
	width: 100%;
	background-color: rgb(var(--color-surface-700));
	padding: 25px 30px;
	border-radius: 5px;
	box-shadow: 0 0px 30px rgba(0, 0, 0, 0.30);
}

.container .title {
	font-size: 25px;
	font-weight: 500;
	position: relative;
}

.container .title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	border-radius: 5px;
	background: linear-gradient(135deg, rgb(var(--color-tertiary-700)), rgb(var(--color-tertiary-500)));
}

.content form .user-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}

form .user-details .input-box {
	margin-bottom: 15px;
	width: calc(100% / 2 - 20px);
}

/* .user-details .input-box input:invalid {
	border-color: #ffb2b2;
} */

form .input-box span.details {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.user-details .input-box input {
	height: 45px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
	padding-left: 15px;
	color: rgb(var(--color-text));
	border: 1px solid rgb(var(--color-surface-500));
	border-bottom-width: 2px;
	transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
	border-color: rgb(var(--color-surface-500));
}

.user-details .input-box input::placeholder {
	border-color: rgb(var(--color-text));
}

input[type="text"] {
	/* background-color: #E4E9EC; */
	background-color: rgb(var(--color-surface-600));
}

input[type="password"] {
	/* background-color: #E4E9EC; */
	background-color: rgb(var(--color-surface-600));
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two {
	/* background: #c1d3de;
	border-color: #a0acb4; */
}


form button {
	height: 45px;
	margin: 35px 0
}

form button {
	width: 80px;
	height: 40px;
	/* border-radius: 10px; */
	/* border: none; */
	/* color: rgb(var(--color-surface-800)); */
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	/* cursor: pointer;
	transition: all 0.3s ease;
	background: var(--color-accent); */
}

/* form .button input:enabled:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
} */


form .button button:disabled {
	pointer-events: none;
	opacity: 0.3;
	cursor: not-allowed;
}

/* form .button input:not(:disabled):hover {
	background: linear-gradient(135deg, rgb(var(--color-primary-500)),
			rgb(var(--color-primary-500)));
} */

@media(max-width: 584px) {
	.container {
		max-width: 100%;
	}

	form .user-details .input-box {
		margin-bottom: 15px;
		width: 100%;
	}

	form .category {
		width: 100%;
	}

	.content form .user-details {
		max-height: 300px;
		overflow-y: scroll;
	}

	.user-details::-webkit-scrollbar {
		width: 5px;
	}
}

@media(max-width: 459px) {
	.container .content .category {
		flex-direction: column;
	}
}